.py-32{
    padding: 32px 0;
}
// margin-bottom
.mb-24{
    margin-bottom: 24px;
}
// margin-left
.ms-32{
    margin-left: 32px;
}
.ms-16{
    margin-left: 16px;
}
// padding-left
.ps-32{
    padding-left: 32px;
}